# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/googling/
/log/
/template/log/assets/
/template/log/chrome.html
/template/log/data.js
/template/log/firefox.html
/template/log/ie.html
/template/log/index.html
/template/log/opera.html
/template/log/phantom.html
/template/log/safari.html
/registration/
